body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* navbar */
.navbar{
    display: grid;
    grid-template-areas: "logo logo logo icons"
                         "links links links links";
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}
.img{
    padding: 20px 0px;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 100px 0px 0px;
}
.img>a>img{
    width: 200px;
}
.icons{
    grid-area: icons;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.icons>a>span{
    color: black;
}

.links{
    grid-area: links;
}
.links>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.links>ul li{
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}
.links>ul>li a{
    text-decoration: none;
    color: #333333;
}
.search{
    width: max-content;
    display: flex;
    height: 15px;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.5s;
}
#search-ip{
    font-size: 14px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
}
.search:focus-within{
    box-shadow: 0 0 7px 1px rgba(148, 147, 147, 0.75);
}

#search-ip::placeholder, .search-icon{
    color: rgba(0,0,0,0.25);
}



